@page "/"

@inject IViewInventoriesByNameUseCase viewInventoriesByNameUseCase

<PageTitle>Home</PageTitle>

<br />
<br />

<ul>
    @if (inventories != null && inventories.Count > 0)
    {
        foreach (var inventory in inventories)
        {
            <li>@inventory.Name</li>
        }
    }
</ul>

@code {
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await viewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}